@let artistDetail = artistDetailPromise | async;

<a mat-button routerLink="/">
  <mat-icon fontIcon="arrow_back_ios"></mat-icon>
  Regresar
</a>

<main class="container">
  @if (artistDetailError) {
    <p class="error">Ocurrió un error al cargar la información del artista: <strong>{{ artistDetailError }}</strong></p>
  } @else if (!artistDetail) {
    <mat-spinner [diameter]="30"></mat-spinner>
  } @else {
    <img
      [src]="artistDetail.images[0].url"
      [height]="300"
      [width]="300" />

    <div>
      <h1>{{ artistDetail.name }}</h1>

      <p><strong>Géneros -</strong> {{ artistDetail.genres.join(', ') }}</p>
      <p><strong>Seguidores -</strong> {{ artistDetail.followers.total| number:undefined:'es' }}</p>
    </div>
  }
</main>
