@let searchResult = searchPromise | async;

<form class="search-form" [formGroup]="searchForm" (ngSubmit)="onFormSubmit()">
  <mat-form-field class="query-field">
    <input matInput formControlName="query" placeholder="Busca una canción, artista o álbum" />
  </mat-form-field>

  <mat-form-field class="type-field">
    <mat-select formControlName="type" #selectedSearchType>
      @for (searchType of searchTypes; track searchType) {
        <mat-option [value]="searchType.value">
          {{ searchType.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button
    mat-flat-button
    class="submit-btn"
    [disabled]="searchForm.invalid || (!searchResult && !searchError)">
    @if (searchResult || searchError) {
      Buscar
    } @else {
      <mat-spinner [diameter]="20"></mat-spinner>
    }
  </button>
</form>

@if (searchError) {
  <p class="search-error">
    Ocurrió un error al realizar la búsqueda: <strong>{{ searchError }}</strong>
  </p>
} @else if (!searchResult) {
  <mat-spinner [diameter]="30"></mat-spinner>
} @else {
  @switch (selectedSearchType.value) {
    @case (searchType.Track) {
      <app-tracks-table
        [tracks]="searchResult.tracks.items"
        (trackClick)="$event"></app-tracks-table>
    }

    @case (searchType.Artist) {
      <p>Artista</p>
    }

    @case (searchType.Album) {
      <p>Álbum</p>
    }
  }
}
